Package: Lenic
Version: 0.3-1
Architecture: all
Essential: no
Prioty: optional
Depends: dash
Replaces: lenic
Maintainer: kosmoi <kosmoi.github.io>
Website: http://kosmoi.github.io/lenic
Description: Lenic is a tool writen in shell script, which helps you to handle a debian system more easily.
